@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 247, 242;
  --background-end-rgb: #F5F5F5;
  --background-color-default:  #F5F5F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--background-end-rgb));
  background-color: rgb(var(--background-color-default));
  overflow: hidden;
  width: "100%",
}

.MuiLinearProgress-barColorPrimary{
  color: "#0e85ff"
}

