@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 247, 242;
  --background-end-rgb: 248, 247, 242;
  --background-color-default:  248, 247, 242;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--background-end-rgb));
  background-color: rgb(var(--background-color-default));
  overflow: hidden;
}

/* Set a transparent background */
.DateRangePicker {
  background: rgba(var(--background-color-default), 1);
}

/* Style the selected date range with a yellow background
.DateRangePicker_picker {
  background: transparent;
} */

/* Style the selected range with a yellow background */
.DateRangePicker_picker__range {
  background: yellow;
}